#tlj{
    width: 80%;
    position: absolute;
    font-size: 40px;
    top: 35%;
    left: 10%;
}
#ab{
    display: none;
}
#child-head nav{
    display: none;
}
#profile_child{
    text-align: center;
}
.image2{
    position: absolute;
    top: 200px;
    left: 38%;
}
#child-parent{
    width: 500px;
}
.HOME {
    color: white;
    position: absolute;
    bottom: 2%;
    left: 64%;
    transform: translate(-50%, -50%);
}
.careers2{
    position: absolute;
    bottom: 2%;
    left: 80%;
    color: white;
    transform: translate(-50%, -50%);
}
.opening{
    position: absolute;
    bottom: 2%;
    left: 95%;
    color: white;
    transform: translate(-50%, -50%);
}
@media screen and (min-width: 1280px){
    #tlj{
        width: 60%;
        position: absolute;
        font-size: 50px;
        top: 35%;
        left: 65%;
        transform: translate(-50%, -50%);
    }
    #ab{
        display: block;
        position: absolute;
        font-size: 50px;
        width: 70%;
        top: 75%;
        left: 66%;
        transform: translate(-50%, -50%);
    }
    #child-head nav{
        display: block;
    }
    #profile_child{
        text-align: center;
    }
    .image2{
        left: 46%;
    }
    .careers2{
        left: 85%;
    }
    .opening{
        left: 90%;
    }
    .HOME{
        left: 79%;
    }
    .careers2,
    .opening, 
    .HOME{
        transform: translate(-50%, -50%);
    }
}
.parent {
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: relative;
  top: 0;
  left: 0;
}
.centered {
    position: absolute;
    top: 81%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
}

.CAREERS {
    color: white;
    position: absolute;
    bottom: 2%;
    right: 2.5%;
    transform: translate(-50%, -50%);
}

.bottom-right {
    position: absolute;
    bottom: 2%;
    right: 0%;
    color: white;
    transform: translate(-50%, -50%);
}   
.box{
    background-color: whitesmoke;
    border: 10px ;
    border-style: double;
    border-color:dimgray;
    padding: 25px;
    margin: 25px;
    height: 350px;
}

/* .special::after {
  content:'/'; 
  color: white;
} */
.row1{
    float: left;
}
.row2{
    float:right;
}
*, html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    overflow-x:hidden;
}
nav{
    float: left;
    margin-left: 7%;
}
nav a{
    display: inline-block;
    width: 100px;
    text-align: center;
}
nav a:hover{
    text-decoration: underline;
}
#contactonline{
    margin-top: 30px;
}
#contactonline-child a{
    float: right;
    margin-right: 10px;
    color: white;
    width: 50px;
}
#contactonline-child a i{
    font-size: 31px;
}
#contactonline-child::after{
    content: '';
    clear: both;
    display: block;
}
.fas{
    display: inline;
    color: black;
}
#head{
    background-color: #0d4732;
    position: absolute;
    left: 0;
    top: 0;
    height: 20%;
    z-index: 1;
    width: 100%;
}
#head nav a{
    color: white;
    margin-left: 3px;
}
#profile{
    z-index: 1;
    position: absolute;
    display: block;
    height: 100px;
    width: 100%;
    top: 20%;
}
.logo{
    display: block;
    color: white;
}
#profile_child a{
    display: inline-block;
    margin-left: 2px;
    font-weight: bold;
    color: gainsboro;
    line-height: 35px;
    margin-left: 10px;
    width: 100px;
}
#profile_child::after{
    content: '';
    background-color: rgba(98,87,75);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 40px;
    opacity: 0.5;
}
#profile_child a{
    position: relative;
}
#profile_child a:hover{
    cursor: pointer;
}
#profile_child a:after{
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    transition: all 0 ease;
    z-index: 1;
}
#profile_child a:hover::after{
    width: 0;
    border-bottom: 3px solid white;
    transition: width 2s ease;
}
#profile_child a::before{
    content: '';
    position: absolute;
    border-top: 3px solid white;
    width: 100%;
    right: 0;
    top: 0;
    transition: all 2s ease;
    z-index: 1;
}
#profile_child a:hover::before{
    width: 0;
    transition: width 0s ease;
}
#outside_home{
    position: absolute;
    top: 1370px;
    left: 0;
    display: block;
    margin: 0 auto;
    background-image: url(img/4.png);
    height: 700px;
    background-position: center;
    width: 100%;
    z-index: -2;
}
#footer{
    display: block;
    margin-top: 0%;
    background-color: #0d4732;
    height: 90px;
    color: white;
    position: relative;
}
#footer_child{
    float: left;
}
body{
    background-color: gainsboro;
}
#body_wrapper{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 20%;
    margin-right: 20%;
    height:60%;
    width: auto;
    background-color: white;
}
.body_main{
    border:8px;
    border-style: double;
    border-color: darkgray;
    padding: 25px;
    margin: 25px;
    height: 60%;
    
}
.imgcenter{
    transform:translate(10.5%)
}
.button {
    background-color:darkkhaki;
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
}
p{
    font-size: 11px;
}

.block {
    display: block;
    width: 100%;
    border: none;
    background-color:whitesmoke;
    padding: 8px;
    color: black;
    cursor: pointer;
    text-align: left;
}
#myDIV1 {
    width: 100%;
    margin-left: 15px;
    padding: 8px;
    background-color: white;

}
#myDIV2 {
    width: 100%;
    margin-left: 15px;
    padding: 8px;
    background-color: white;

}
#myDIV3 {
    width: 100%;
    margin-left: 15px;
    padding: 8px;
    background-color: white;

}
#myDIV4 {
    width: 100%;
    margin-left: 15px;
    padding: 8px;
    background-color: white;

}
#myDIV5 {
    width: 100%;
    margin-left: 15px;
    padding: 8px;
    background-color: white;

}
#myDIV6 {
    width: 100%;
    margin-left: 15px;
    padding: 8px;
    background-color: white;

}
#myDIV7 {
    width: 100%;
    margin-left: 15px;
    padding: 8px;
    background-color: white;

}
#myDIV8 {
    width: 100%;
    margin-left: 15px;
    padding: 8px;
    background-color: white;

}
h5{
    color: dimgrey;
}
.font{
    padding: 8px;
    font-size: 14px;
    color: dimgray;
}
#child-head a{
    color: white;
    margin-right: 10px;
}
.icon{
    font-size: 40px;
    float: right;
}