#tlj{
    width: 100%;
    font-size: 50px;
    text-align: center;
}
#ab{
    display: none;
}
#child-head nav{
    display: none;
}
#locations{
    font-size: 25px;
    font-style: italic;
    position: absolute;
    left: 39%;
    top: 310px;
    color: white;
}
.bar-logo{
    background-image: url("img/logo.jpg");
    width: 100%;
    height: 200px;
    position: absolute;
    top: 200px;
    left: 0;
    z-index: -1;
    background-position: center;
} 
.nav-logo{
    display: block;
    position: absolute;
    width: 220px;
    height: 100px;
    top: 370px;
    left: 40%;
}
#wrapper{
    margin-top: 150px;
}
#pp{
    display: none;
}
#inside_wrapper{
    display: block;
    margin: 0 auto;
    width: 78%;
}
#inside_center{
    margin: 0 auto;
    width: 90%;
    display: block;
}
.child_inside_center{
    border-bottom: 1px dashed burlywood;
    padding-bottom: 10px;
}
.child_cic div:last-child{
    border: 1px solid burlywood;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 27px;
    float: right;
    margin-top: 10px;
}
@media screen and (min-width: 1280px){
    #ab{
        width: 40.0625%;
        font-size: 50px;
        margin: 0 auto;
        display: block;
    }
    #tlj{
        font-size: 50px;
        width: 31.25%;
        margin: 0 auto;
    }
    #child-head nav{
        float: left;
        display: block;
    }  
    #locations{
        left: 46%;
    }
    .nav-logo{
        left: 76%;
    }
    #wrapper{
        margin-top: 15%;
    }
    #pp{
        position: absolute;
        left: 88%;
        top: 18px;
        display: block;
    }
    #inside_center{
        text-align: justify;
    }
    .child_inside_center{
        position: relative;
        border: 1px solid burlywood;
        width: 49%;
        display: inline-block;
        height: 200px;
        /* display: table-cell; */
    }
    .child_cic div:last-child{
        position: absolute;
        width: 50px;
        height: 50px;
        text-align: center;
        font-weight: bold;
        line-height: 45px;
        font-size: 30px;
        left: 85%;
        top: 120px;
    }
}
*, html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    overflow-x: hidden;
}
#head{
    background-color: #0d4732;
    height: 200px;
    width: 100%;
}
#head nav a{
    color: white;
    margin-left: 20px;
    float: left;
}
#child-head::after{
    content: '';
    clear: both;
    display: block;
}
#tlj, #ab{
    color: white;
}
#contactonline{
    margin-top: 30px;
}
#contactonline-child a{
    float: right;
    margin-right: 10px;
    color: white;
    width: 50px;
}
#contactonline-child a i{
    font-size: 31px;
}
#contactonline-child::after{
    content: '';
    clear: both;
    display: block;
}
#profile_child{
    text-align: center;
    position: relative;
}
#profile_child a{
    display: inline-block;
    margin-left: 2px;
    font-weight: bold;
    color: gainsboro;
    line-height: 40px;
    margin-left: 10px;
    width: 100px;
}
#profile_child::after{
    content: '';
    background-color: rgba(98,87,75);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 40px;
    opacity: 0.5;
}
#profile_child a{
    position: relative;
}
#profile_child a:hover{
    cursor: pointer;
    color: white;
}
#profile_child a:after{
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    transition: all 0 ease;
    z-index: 1;
}
#profile_child a:hover::after{
    width: 0;
    border-bottom: 3px solid white;
    transition: width 2s ease;
}
#profile_child a::before{
    content: '';
    position: absolute;
    border-top: 3px solid white;
    width: 100%;
    right: 0;
    top: 0;
    transition: all 2s ease;
    z-index: 1;
}
#profile_child a:hover::before{
    width: 0;
    transition: width 0s ease;
}
.fa-search:hover{
    cursor: pointer;
    color: white;
}
.fa-search{
    color: gainsboro;
}
body{
    background-color: gainsboro;
}
.bar-logo img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 130px;
}
nav a{
    color: white;
    text-decoration: none;
}
/*-------------------------------end of head---------------------------------*/
#center{
    width: 80%;
    margin: 0 auto;
    background-color: white;
}
.child_inside_center img{
    float: left;
    height: 140px;
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 10px;
}
.child_inside_center::after{
    content: '';
    clear: both;
    display: block;
}
#inside_center::after{
    content: '';
    display: inline-block;
    width: 100%;
}
.child_cic{
    margin-top: 50px;
}
.child_cic p{
    display: block;
}
.child_cic h3{
    font-size: 20px;
}
.child_cic div:last-child:hover{
    color: white;
    background-color: burlywood;
    cursor: pointer;
}
#empty{
    visibility: hidden;
}
/*------------------------footer-----------------------------------------*/
#footer{
    display: block;
    margin-top: 5%;
    background-color: #0d4732;
    height: 90px;
    color: white;
    position: relative;
}
#footer_child{
    float: left;
}